* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* object-position: bottom; */
}

main {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: #ffffff;
}

.container {
    width: 25%;
    height: auto;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main h1 {
    color: #ffffff;
    font-family: monospace;
    font-size: 5rem;
    text-align: center;
}

.show {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5%;
    font-size: 1rem;
    font-family: monospace;
}

.player1,
.player2 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.5rem;
    font-weight: 600;
}

.box {
    border: 2.5px solid #fff;
    width: 100%;
    overflow: hidden;
    color: #0291df;
    background: #ffffff28;
    backdrop-filter: blur(10px);
    font-size: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    border-radius: 20px;
    font-weight: 900;
}

.box1,
.box4,
.box7 {
    border-left: none;
}

.box1,
.box2,
.box3 {
    border-top: none;
}

.box3,
.box6,
.box9 {
    border-right: none;
}

.box7,
.box8,
.box9 {
    border-bottom: none;
}

.choosePlayer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    flex-direction: column;
    position: absolute;
    top: 0px;
    background-color: #21212118;
    backdrop-filter: blur(10px);
}

.player1Input,
.player2Input {
    width: 25%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #279ad8;
}

.player1Input input,
.player2Input input {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    text-align: center;
    /* padding-left: 23%; */
    color: #ffffff;
    font-size: 1.3rem;
}

.player1Input input::placeholder,
.player2Input input::placeholder {
    color: #ffffff;
}

.choosePlayer button {
    width: 25%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 4%;
    color: #ffffff;
    background-color: #45ace4;
    border: 2px solid #0293e2;
    border-radius: 12px;
    cursor: pointer;
}

.refresh {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refreshbtn {
    width: 4%;
    height: auto;
    aspect-ratio: square;
    /* background: #ffffff; */
    padding: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.refreshbtn svg {
    width: 100%;
    height: auto;
    aspect-ratio: square;
}